/* JOST* */

@font-face {
  font-family: "Jost";
  src: url("./Jost-200-Thin.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-300-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-400-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-500-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-600-Semi.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-200-ThinItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-300-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("./Jost-400-BookItalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
